<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="sobre.component.css">
</head>
<body>
    <div class="divContent">
        <h1></h1>
        <p>Angular é uma plataforma e framework para construção da interface de aplicações usando HTML, CSS e, principalmente, JavaScript, criada pelos desenvolvedores da Google.</p>
        <p>Lançamento: 14 setembro 2016. Plataforma: Web Platform. Escrito em TypeScript</p>
    </div>
</body>
</html>